In [1]:
import pandas as pd

df=pd.read_excel("../Data/순위.xlsx",sheet_name="2023_1")

In [7]:
df

      순위    팀     경기     승    무     패     승률   게임차   연속
0    1.0  NaN  144.0  86.0  2.0  56.0  0.606   0.0   1승
1    NaN   LG    NaN   NaN  NaN   NaN    NaN   NaN  NaN
2    2.0  NaN  144.0  79.0  3.0  62.0  0.560   6.5   3승
3    NaN   KT    NaN   NaN  NaN   NaN    NaN   NaN  NaN
4    3.0  NaN  144.0  76.0  3.0  65.0  0.539   9.5   2승
5    NaN  SSG    NaN   NaN  NaN   NaN    NaN   NaN  NaN
6    4.0  NaN  144.0  75.0  2.0  67.0  0.528  11.0   2패
7    NaN   NC    NaN   NaN  NaN   NaN    NaN   NaN  NaN
8    5.0  NaN  144.0  74.0  2.0  68.0  0.521  12.0   3패
9    NaN   두산    NaN   NaN  NaN   NaN    NaN   NaN  NaN
10   6.0  NaN  144.0  73.0  2.0  69.0  0.514  13.0   2승
11   NaN  KIA    NaN   NaN  NaN   NaN    NaN   NaN  NaN
12   7.0  NaN  144.0  68.0  0.0  76.0  0.472  19.0   1승
13   NaN   롯데    NaN   NaN  NaN   NaN    NaN   NaN  NaN
14   8.0  NaN  144.0  61.0  1.0  82.0  0.427  25.5   1패
15   NaN   삼성    NaN   NaN  NaN   NaN    NaN   NaN  NaN
16   9.0  NaN  144.0  58.0  6.0  80.0  0.420  26.0   1패
17   NaN   한화    NaN   NaN  NaN   NaN    NaN   NaN  NaN
18  10.0  NaN  144.0  58.0  3.0  83.0  0.411  27.5   2패
19   NaN   키움    NaN   NaN  NaN   NaN    NaN   NaN  NaN

In [6]:
df.shape

(20, 9)